// base.scss
// =================

body {
	font-family: $headFont;
}

.h3 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: $greyishBrown;
}

.mt-45 {
	margin-top: 2rem !important;
}

.mt-6 {
	margin-top: 6rem !important;
}

.mb-6 {
	margin-bottom: 6rem !important;
}

.btn {
	border-radius: 40px;
}

.btn-home {
	background: $lightRed;
	font-size: 14px;
	font-weight: bold;
	color: white;
	padding: 9px 22px;

	&:hover {
		background: #333;
	}
}

@media (max-width: 576px) {
	.btn-home {
		max-width: 320px;
		width: 100%;
		margin-left: 0 !important;
	}
}