// footer.scss
// =================

hr.red-line {
	height: 2px;
  	background-color: $lightRed;
}
	
footer {
	.footer-logo {
		a:link, a:visited {
			font-size: 16px;
			font-family: $headFont;
			color: $lightRed;
		}
		a:hover {
			color: $brownishGrey;
			text-decoration: none;
		}
	}
		

	h4 {
		font-family:  $headFont;
		font-size: 14px;
		font-weight: 700;
		color: $greyishBrown;
	}
	ul
		li
			a:hover {
				color: $lightRed;
				text-decoration: none;
			}
			a:link, a:visited {
				font-family: $bodyFont;
				font-size: 14px;
				font-weight: 300;
				line-height: 1.86;
				color: $brownGrey;
			}
			
	.footer-logo-desc {
		text-transform: uppercase;
		font-family: $headFont;
		font-size: 10px;
		font-weight: bold;
		letter-spacing: 1px;
		color: $veryLightPinkTwo;
		margin-bottom: 7px;
	}

	@media (max-width: 576px) {
		.footer-logo {
			text-align: center;
		}
		h4 {
			text-align: center;
    		margin-top: 12px;
    		margin-bottom: 15px;
		}
		.float-right {
			float: none !important;
		    margin: 0 auto;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		}
		.text-right {
			text-align: center !important;
		}
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: -25px;

			li {
				display: flex;
				margin: 0 13px;
			}
		}
		.footer-logo-desc {
			margin-top: 45px;
		}
	}
}


