// forms.scss
// =================

section#form {
	input {
		border-radius: 3px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
		border: solid 1px #d4d4d4;
		background-color: white;
		width: 299px;
  		height: 40px;
  		font-family: $bodyFont;
		font-size: 14px;
		font-weight: 300;
		color: $lightRed;
		padding-left: 15px;

		&::placeholder {
			font-family: $bodyFont;
			font-size: 14px;
			font-weight: 300;
			color: $brownGrey;
		}
	}
	@media (max-width: 576px) {
		input {
			margin-bottom: 10px;
		}
	}
	
}