// home.scss
// =================

.jumbotron {
	color: white;
	background-image: linear-gradient(to top, #5d0001, #2b2401);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	max-height: 90vh;
	object-fit: contain;
	opacity: 0.99;
	max-height: none;

	.jumbotron-back {
		background: url(../img/background.jpg);
		position: absolute;
		height: 700px;
		width: 100%;
		opacity: 0.9;
		object-fit: contain;
		background-size: cover;
		z-index: -1;
		top: 0;
	}
	.btn {
		font-size: 14px;
	}

	.logo {
		font-size: 20px;
		font-weight: bold;
		color: white;
	}

	.sign {
		border-radius: 40px;
		border: solid 2px white;
		background: transparent;
		color: white;
	}

	.sign:hover {
		background: $lightRed;
	}

	.subtitle {
		width: 473px;
	    display: flex;
	    align-items: center;
	    flex-direction: column;
	    margin: 160px auto;
		
		.display-3 {
			font-size: 52px;
			font-weight: bold;
			margin: 0 auto;
			display: flex;
			align-items: center;
		}

		.display-subtitle {
			width: 100%;
			font-family: Roboto;
			font-size: 24px;
			font-weight: 300;
			line-height: 1.00;
			color: $veryLightPink;
		}

		.btn-home {
			display: flex;
			margin: 0 auto;
		}

	}

	@media (max-width: 576px) {
	max-height: 100vh;
	height: 100vh;

		.logo {
			width: 100%;
		}

		.subtitle {
			width: 300px;
			padding-right: 15px;
			margin: 100px auto;

			.display-3 {
				font-size: 30px;
				margin-top: 30px;
			}
			.display-subtitle {
				font-size: 18px;
				width: 280px;
				line-height: 25px;
			}
		}
		.login {
			float: none;
		}

		.btn-home {
			padding: 10px 60px;
		}

		.jumbotron-back {
			height: 100vh;
		}
	}
}

