// partner.scss
// =================

section#partners {
	ul {
		display: flex;

		li {
			display: flex;
			position: relative;
			margin: 0 auto;
			flex-direction: column;
			align-content: center;
			align-items: center;
			width: 221px;

			.img-wrapper {
				
				.photo {

				}
				.icon-wrapper {
					position: absolute;
					width: 32px;
					height: 32px;
					border-radius: 20px;
					padding: 3px 7px;
					top: 88px;
					left: 140px;
					
					.icon {
						max-height: 16px;
						max-width: 16px;
					}
				}
			}
			.partner-title {
				font-size: 14px;
				font-weight: 700;
				color: $greyishBrown;
			}
			.partner-subtitle {
				font-family: $bodyFont;
				font-size: 14px;
				font-weight: 300;
				color: $brownishGrey;
			}
		}
	}
	@media (max-width: 992px) {
		ul {
    		flex-wrap: wrap;
			justify-content: center;

    		li {
    			margin: 15px 40px;
    		}
		}
	}

	@media (max-width: 576px) {
		ul {
    		li {
    			width: 100%;

    			.img-wrapper {
    				.icon-wrapper {
    					left: 154px;
    				}
    			}
    		}
		}
	}
}

.partner-btn {
	font-size: 14px;
	font-weight: 700;
	color: $lightRed;
	border: solid 2px $lightRed;
	background-color: transparent;
    padding: 10px 20px;

    &:hover {
		background-color: $lightRed;
		color: white;
	}
}

@media (max-width: 576px) {
	.partner-btn {
		width: 100%;
	}
}	