// steps.scss
// =================
section#steps {
	article {
		border-radius: 4px;
		background-image: linear-gradient(to bottom, $black, $black60);
	    width: 300px;
	    height: 400px;
		overflow: hidden;
		position: relative;
		padding: 220px 25px 25px 25px;
		margin: 0 auto;

		&:hover img {
			-moz-transform: scale(1.1);
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
		img {
			position: absolute;
			top: 0;
			left: 0px;
			max-width: 100%;
			-moz-transition: all 1s;
			-webkit-transition: all 1s;
			transition: all 1s;
			z-index: -1;
		  
		}
		h3 {
			font-size: 24px;
			font-weight: bold;
			color: white;
		}
		p {
			font-family: $bodyFont;
			font-size: 14px;
			font-weight: 300;
			color: $veryLightPinkFour;
			line-height: 1.4;
		}
	}


	.steps {
		background-color: $lightRed;
		font-size: 10px;
		letter-spacing: 2px;
		color: white;
		padding: 3px 13px;
		display: inline-flex;
		text-transform: uppercase;
		border-radius: 40px;
	}
	
	.gallery-cell {
		width: 100%;
		height: 200px;
		margin-right: 10px;
		counter-increment: gallery-cell;
	}

	/* cell number */
	.gallery-cell:before {
		display: block;
		text-align: center;
	}

	@media (max-width: 992px) {
		article {
			width: 220px;
			padding: 180px 25px 25px 25px;

			img {
				max-width: 140%;
			}
		}
	}

	@media (max-width: 576px) {

		article {
			width: 100%;
			max-width: 100%;
			height: 240px;
			padding: 58px 25px 25px 25px;
			
			img {
				width: 100%;
				max-width: 140%;
			}
		}
		.js-flickity {
			overflow: hidden;
    		height: 290px;
		}
		.flickity-prev-next-button,
		.flickity-prev-next-button {
			display: none;
		}
		.flickity-viewport {
			padding: 9px;
		}
		.flickity-page-dots {
			margin-top: 68px;
    		margin-bottom: -50px;
    		display: flex;
    		justify-content: center;

			.dot {
				background: $lightRed;
				opacity: 0.3;
				height: 10px;
			    width: 10px;
			    border-radius: 15px;
			    margin: 0px 4px;

				&.is-selected {
					opacity: 1;
				}
			}
		}
	}
	
}
