// _variables.scss
// =================
@import "https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700";
 
$lightRed				: #ff4e50;
$sunYellow				: #f9d423;
$veryLightPink			: #f7f3f2;
$greyishBrown			: #444444;
$veryLightPinkFour		: #e3e3e3;
$veryLightPinkThree		: #d8d8d8;
$brownishGrey			: #666666;
$aqua    				: #19d4ca;
$yellowishOrange		: #ffa710;
$cornflower				: #667df3;
$brownGrey				: #999999;
$veryLightPinkTwo		: #cccccc;
$black					: rgba(0, 0, 0, 0);
$black60				: rgba(0, 0, 0, 0.6);

 
$headFont : 'Montserrat', sans-serif;
$bodyFont : 'Roboto', sans-serif;