<!DOCTYPE html>
<html>
  <head>
    
    {{> title}}

  </head>
  <body>
    <header class="jumbotron jumbotron-fluid">
      <div class="jumbotron-back"></div>
        <div class="container">
          <div class="d-none d-sm-block">
            <div class="logo float-left ">
              DREAMSHARE
            </div>
            <button class="btn sign float-right">
              Sign up
            </button>
            <div class="btn login float-right mr-3">
              Login
            </div>
          </div>
          <div class="mobile-sign d-block d-sm-none text-center">
             <button class="btn sign">
              Sign up
            </button>
            <div class="btn login mr-3">
              Login
            </div>
          </div>
        </div>
        <div class="container subtitle">
          <div class="row">
            <div class="logo d-block d-sm-none text-center">
              DREAMSHARE
            </div>
            <h1 class="display-3 text-center">SHARE YOUR
            HOLIDAY DREAM</h1>
          </div>
          <div class="row mt-4">
            <p class="display-subtitle text-center">
              And find the perfect partner to fullfill it
            </p>
          </div>
          <div class="row mt-4">
            <button class="btn btn-home text-center">
                Find your holiday partner
            </button>
          </div>
        </div>
    </header>
    <div class="container mt-6 mb-5">
      <h3 class="h3">
        How Dreamshare works?
      </h3>
    </div>
    <section id="steps">
      <div class="container d-none d-sm-block">
        <div class="row">
          {{#each steps}}
            <div class="col-md-4">
                <article>
                  <img class="background" src="{{baseUrl}}/static/img/{{this.image}}" alt="{{this.title}}" title="{{this.title}}">
                  <div class="steps mb-3">
                    {{this.number}}
                  </div>
                  <h3>
                    {{this.title}}
                  </h3>
                  <p>
                    {{this.text}}
                  </p>
                </article>
            </div>
          {{/each}}
          </div>
        </div>
      </div>
      <div class="gallery js-flickity d-block d-sm-none">
        {{#each steps}}
        <div class="gallery-cell">
          <article>
              <img class="background" src="{{baseUrl}}/static/img/{{this.image}}" alt="{{this.title}}" title="{{this.title}}">
              <div class="steps mb-3">
                {{this.number}}
              </div>
              <h3>
                {{this.title}}
              </h3>
              <p>
                {{this.text}}
              </p>
            </article>
        </div>
        {{/each}}
      </div>
    </section>


    <section id="partners">
      <div class="container  mt-6  mb-3">
        <h3 class="h3 mb-5">
          Meet a partner for your best holiday
        </h3>
        <ul>
          {{#each partners}}
            <li>
              <div class="img-wrapper">
                <img class="photo" src="{{baseUrl}}/static/img/{{this.image}}" alt="{{this.image_tile}}" title="{{this.image_tile}}" />
                <div class="icon-wrapper"  style="background-color: {{this.background}}">
                  <img class="icon" src="{{baseUrl}}/static/img/{{this.icon}}" alt="{{this.icon_title}}" title="{{this.icon_title}}">
                </div>
              </div>
              <h4 class="partner-title text-center mt-3">{{this.name}}</h4>
              <p class="partner-subtitle text-center">
                {{this.text}}
              </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
    <div class="clearfix"></div>
    <div class="container text-center">
      <button class="btn partner-btn">
        See other partners
      </button>
    </div>
    <section id="form">
      <div class="container mt-6  mb-6">
        <h3 class="h3 mb-5">
          Crate your holiday activity
        </h3>
        <p class="form-subtitle text-center">
          Hi! What are your holiday interests?
        </p>
        <form action="" id="holiday" class="text-center">
          <input name="interests" type="text" required placeholder="Enter your interests" />
          <button class="btn btn-home ml-2" type="submit">
            Search partners
          </button>
        </form>
      </div>
    </section>

    {{> footer }}
    
    {{> modal }}
  </body>
  <script type="text/javascript" src="{{baseUrl}}/static/js/scripts.js"></script>
  {{#if devMode}}
    <script src="/reload/reload.js"></script>
  {{/if}}
</html>