<hr class="red-line" />

<footer class="mt-45 mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="footer-logo">
              <a href="#">DREAMSHARE</a>
            </div>
          </div>
          <div class="col-md-2">
            <h4>Company</h4>
            <ul>
              <li>
                <a href="#">
                  About
                </a>
              </li>
              <li>
                <a href="#">
                  Contact
                </a>
              </li>
              <li>
                <a href="#">
                  Press
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 mt-4">
            <ul>
              <li>
                <a href="#">
                  Blog
                </a>
              </li>
              <li>
                <a href="#">
                  Terms and Privacy
                </a>
              </li>
              <li>
                <a href="#">
                  Help
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-5 pt-3">
            <div class="float-right">
              <p class="footer-logo-desc text-right">
                  designed by
              </p>
              <a href="#"><img src="{{baseUrl}}/static/img/logo.png" alt="Areto Development" title="Areto Development" /></a>
            </div>
          </div>
        </div>
      </div>
    </footer>