<title>Nexa Digital | {{title}}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="{{baseUrl}}/static/css/main.css" type="text/css" />
<link href="{{baseUrl}}/static/img/favicon.ico" rel="shortcut icon" type="image/png">